@font-face {
  font-family: 'Suseong Dotum';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongDotum/SuseongDotum.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongDotum/SuseongDotum.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongDotum/SuseongDotum.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongDotum/SuseongDotum.ttf') format('truetype');
}
